<html>
  <head>
    <meta name="viewport" content="user-scalable=no">
  <title>Pandemic Mapper</title>
   <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" -->
  <!-- integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" -->
  <!-- crossorigin=""/> -->
	<link rel="stylesheet" type="text/css" href="static/css/about.css">
   <!-- Make sure you put this AFTER Leaflet's CSS -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" -->
    <!-- integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" -->
    <!-- crossorigin=""></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.10.2/umd/react.production.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.10.2/umd/react-dom.production.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/react-leaflet/2.6.0/react-leaflet.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script> -->

  </head>
  <body>
    <!-- <a href="/about">
      <div class="selectDisable cntr">
      <div class="pill">
        <img  class= "imglogo" src="static/images/logoupdated.png" alt="info">
      </div>
      </div></a> -->
  <nav>
  <div class="container">
    <div class="grid">
      <div class="column-xs-12 column-md-8">
        <p id="logo">Infodemic.Period</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <ul>
          <li><a class="bold">About</a></li>
          <li><a href="https://stop-corona-iittp.herokuapp.com/">App</a></li>
          <li><a href="mailto:elbonleon@gmail.com">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<main class="about">
  <div class="container">
    <section class="grid info">
      <div class="column-xs-12 column-md-1">
        <div class="about">
        <h1 class="section-heading">About</h1>
        </div>
      </div>
      <div class="column-xs-12 column-md-4">
    <img src="static/images/unsplash.jpg"/>
        <div id="root"></div>
      </div>
      <div class="column-xs-12 column-md-7">
        <div class="intro">
          <p>This project sprung to life with an idea : To end the propagation of spam at its root but cutting of chain forwards which are deemed as spam or fake news. Also to minimize the effect of malicious practices that lead to the spread of fear among the wider public by presenting fake or outdated news in a new context. This is what caused the current pandemic to be labeled as an infodemic as well. I wish to prevent that from happening ever again as these cost lives.</p>
           <p> Dream and future plans: To build upon the current implementation as an API and link it to a mobile app that can check through the forwards received on popular social messaging applications and intimate the user about them as well as warn him before forwarding such fake and misleading content. The current model is unable to classify sentences with multiple negations properly .. This has been listed in future plans and challenges</p>
            <p>Built by : <b>Noble Saji Mathews</b></p>
            <p>Mentor: <b>Dr. Sridhar Chimalakonda</b></p>
        </div>
      </div>
    </section>
  </div>
</main>
<footer>
  <div class="container">
    <section class="grid">
      <div class="column-xs-12">
        <a href="https://iittp.ac.in/">An initiative by Research in Intelligent Software & Human Analytics (RISHA) Lab, Indian Institute of Technology Tirupati</a>
      </div>
    </section>
  </div>
</footer>

    
<!-- <script type="text/javascript" src="static/js/about.js"></script>   -->
</body>
</html>