<!DOCTYPE html>
<html lang="en">



<head>
  <title>InfodemicPeriod</title>
  <meta charset="UTF-8">
   <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <script src="https://apis.google.com/js/api.js"></script>
</head>

<body>
  <a href="https://iittp.ac.in/" target="_blank">
  <div class="selectDisable cntr">
  <div class="pill">
    <img  src="static/images/logo.png" width="100px" alt="IIT-Tirupati">
  </div>
  </div></a>
<div class="blur"></div>
<div class="tweeter">
  <!-- data-height="500"  -->
 <a class="twitter-timeline" data-lang="en" data-width="250" data-height="1080" data-dnt="true" data-theme="dark" href="https://twitter.com/Noble86873031/lists/spam?ref_src=twsrc%5Etfw" data-chrome="transparent noscrollbar">A Twitter List by Noble</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
 <img  src="static/images/icon_i_h.png" alt="InfodemicPeriod" class="center selectDisable">
<div class="wrap">
  <div class="heading" style="padding:5px; text-shadow: 2px 2px 8px #000;">
    <div class="heading__container">
      <p class="heading__container__text">
        Putting an end to the
      </p>
      <ul class="heading__container__list">
        <li class="heading__container__list__item"> Pandemic</li>
        <li class="heading__container__list__item"> Corona Virus</li>
        <li class="heading__container__list__item"> Infodemic </li>
        <li class="heading__container__list__item">FakeNews/Spam</li>
        <li class="heading__container__list__item"> Forward Chains</li>
      </ul>
    </div>
  </div>
	<form class="search" action="/">
       <input type="text" class="searchTerm" placeholder="Enter the article / message to check if its spam ..." name="chat_in" autofocus="autofocus" value="{{x_input}}" maxlength="500" id="rcorners2">
       <button type="submit" class="searchButton" method="get">
         <i class="fa fa-search"></i>
      </button>
	</form>
 </div>
 <script>
   try {
    setTimeout(() => {   
        $(".container2").scrollTop(85);

    var str = "{{chat_in}}";
    if(str.length>5){
      
      var per=0+parseInt("{{ (100 * prediction[0]['prob']) | round}}");

      if(per>47){
        $(".form-popup").fadeIn(1000);
        $(".blur").fadeIn(2000);
      }
      else{
        $(".container2").scrollTop(85);
        $(".toggle").click();
        
      }
   }
  }, 1500);
}
catch(err) {
}


 </script>
<div class="counter">
  <a href="mailto:noblesajimathews@gmail.com" target="_blank"><img src="https://www.cutercounter.com/hits.php?id=hrxdccop&nd=6&style=5" border="0" alt="website counter"></a>
</div>
 <div class="footer">
  <div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle" tabindex="0"> ... <strong>No Lies</strong> under these <strong>Beautiful Skies</strong> ... </label>
    <div class="collapsible-content">
      <div class="content-inner">
        <div class="hold" style="width:200px;display:inline-block;">
          <canvas id="ch1" height="200" display="inline-block"></canvas>
          <p style="text-align: center; color:#e6e6ea"><strong> Truth Score: MachineLearning Classifier</strong></p>
        </div>
        <div style="width:200px; height:200px; display:inline-block;">
		      <div class="container2">
      <script>
        var str="{{url}}";
        str=str.replace(/@/g, "\"");
        var arr = JSON.parse("[" + str + "]");
      </script>
      <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2152_RC02/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":arr,"category":0,"property":""}, {"exploreQuery":"date=today%2012-m&geo=IN&q={{results}}","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 
      </div>
      <p style="text-align: center; color:#e6e6ea"><strong>Realtime Relevance : Natural Language Processing</strong></p></div>
      <div class="hold" style="width:200px;display:inline-block;">
        <canvas id="ch3" width="200" height="200" display="inline-block" ></canvas>
        <p style="text-align: center; color:#e6e6ea"><strong> Links Security Rating: (if any)</strong></p>
      </div>
      <script>
        /**
         * Sample JavaScript code for factchecktools.claims.search
         * See instructions for running APIs Explorer code samples locally:
         * https://developers.google.com/explorer-help/guides/code_samples#javascript
         */
         var dataTable = [];
         function execute() {
          return gapi.client.factchecktools.claims.search({
            "query": "{{gurl}}"
          })
              .then(function(response) {
                      // Handle the results here (response.result has the parsed body).
                      dataTable=[];
                      for(var i = 0; i < response.result['claims'].length; i++) {                    
                      dataTable.push({"Claim":response.result['claims'][i].text,"Score":response.result['claims'][i]['claimReview'][0]["textualRating"]=="Pants on Fire"?"Lie":response.result['claims'][i]['claimReview'][0]["textualRating"]});
                      }
                      let table = document.querySelector("table");
                      table.innerHTML="";
                      let data = Object.keys(dataTable[0]);
                      generateTableHead(table, data);
                      generateTable(table, dataTable);
                    },
                    function(err) { console.error("Execute error", err); });
        }
      
        function loadClient() {
          gapi.client.setApiKey("AIzaSyAhjHWo-CQ4ptmnj1XcuF3Spaoxrk7yhxk");
          return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/factchecktools/v1alpha1/rest")
              .then(function() { console.log("GAPI client loaded for API"); 
                                  execute()},
                    function(err) { console.error("Error loading GAPI client for API", err); });
        }
        // Make sure the client is loaded before calling this method.

        gapi.load("client");

            function generateTableHead(table, data) {
              let thead = table.createTHead();
              let row = thead.insertRow();
              for (let key of data) {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
              }
            }

            function generateTable(table, data) {
              for (let element of data) {
                let row = table.insertRow();
                for (key in element) {
                  let cell = row.insertCell();
                  let text = document.createTextNode(element[key]);
                  cell.appendChild(text);
                }
              }
            }
            $( document ).ready(function() {
              loadClient();
            })
      </script>
      <div class="hold" style="width:250px; max-height:300px; display:inline-block; vertical-align: top; padding-top:2px; overflow:auto">
        <!-- <a href={{gurl}} target="_blank"><button class="btn draw-border" onclick="loadClient()">Until API key is authorised please click here for Secondary check</button></a> -->
        <button class="btn draw-border" onclick="loadClient()">NLP: Querer</button>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
          </table>
        </div>
        <!-- <a href={{gurl}} target="_blank" class="btn btn-2">Until API key is authorised please click here for Secondary auto check</a> -->
      </div>
      <div class="hold" style="width:150px; max-height:200px; display:inline-block; vertical-align: top; padding-top:50px">
        <button href="#" target="_blank" class="btnx first"><i class="fa fa-exclamation-triangle fa-3x"></i>Report as spam</button>
      <!-- <a href={{gurl}} target="_blank" class="btn btn-2">Until API key is authorised please click here for Secondary auto check</a> -->
    </div>
      
    </div>
      </div>
    </div>
  </div>
 </div>
 <div class="form-popup" id="myForm">
  <form class="form-container">
    <h4>This message has been flagged red</h4>
    <img id="sad_im" src="static/images/bear.gif" height="100" width="100"/>  
    <p id="why"> Fake news makes teddy sad... </p>
  </br>
    <script>
      function closeForm() {
        event.preventDefault();
        document.getElementById("myForm").style.display = "none";
        $(".form-popup").fadeOut(500);
        $(".blur").fadeOut(1000);
        $(".container2").scrollTop(85);
        $(".toggle").click();
        $(".btn.draw-border").click();
      } 
      function disForm() {
        event.preventDefault();
        if($("#why").text()=="Spam and irrelevant forwards makes pudding loose her way ...")
        closeForm();
        $("#sad_im").attr("src","static/images/cat.gif");
        $("#why").text("Spam and irrelevant forwards makes pudding loose her way ...");

      } 
    </script>
    <button class="btna" onclick="disForm()">Forward anyways</button>
    <button class="btna cancel" onclick="closeForm()">I'll manually check</button>
  </form>
</div>
  <script src="static/js/index.js"></script>
<script>
$(document).ready(function () {
  Chart.defaults.global.defaultFontColor = 'white';  
  var ctx = document.getElementById('ch1').getContext('2d');
  data = {
      datasets: [{
          data: [{{ (100 * prediction[0]['prob']) | round}},100-{{ (100 * prediction[0]['prob']) | round}}],
          backgroundColor : [
              "red", "#6bb7c7"
            ],
            borderColor : [
              "#111", "#111"
            ],
            borderWidth : 3
      }],

      labels: [
          'Fake / Spam',
          'Probably Not'
      ]
  };
  ctx.canvas.width = 200;
  ctx.canvas.height = 200;
  var myDoughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      // options: options
  });
  var ctx = document.getElementById('ch3').getContext('2d');
  data = {
      datasets: [{
          data: [{{ (10 * score) | round}},100-{{ (10 * score) | round}}],
          backgroundColor : [
              "green", "#F0E68C"
            ],
            borderColor : [
              "#111", "#111"
            ],
            borderWidth : 3
      }],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
          'Secure Website',
          'Protection Low'
      ]
  };
  ctx.canvas.width = 200;
  ctx.canvas.height = 200;
  var myDoughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      // options: options
  });
    });
</script>
<div class="banner-wrapper">
  <div id="cookie-banner" class="cookie-banner">
    <p><strong>Disclaimer:</strong></br> This website is still under development the results displayed by the website may or may not be reliable <br />The author is not responsible for any damages, Please use the data from this website at your own risk. Giving all credits where credit's due. 
    </br> To report any issues please <a href="mailto:noblesajimathews@gmail.com"><em>click here</em></a>.</p>
    <a class="button" href="#">OK</a>
  </div>
</div>
<section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 stats">
				<div class="counting" data-count="{{cases}}">0</div>
				<h5 style="color: #FEFAD4;">Confirmed</h5>
			</div>

			<div class="col-lg-3 stats">
				<div class="counting" data-count="{{recovery}}">0</div>
				<h5 style="color:#4AB19D;">Recovered</h5>
			</div>

			<div class="col-lg-3 stats">
				<div class="counting" data-count="{{deaths}}">0</div>
				<h5 style="color:#F1828D;">Dead</h5>
      </div>
      <!-- <div class="col-lg-3 stats">
				<h5 style="color:white; font-size: 12px; padding-top: 10px;">#flatten_the_curve</h5>
			</div> -->

		</div>
		<!-- end row -->
	</div>
	<!-- end container -->

</section>

<!-- end cont stats -->
</body>
</html>